<?xml version="1.0"?>

<config>
    <modules>
        <Im_Giftregistry>
            <version>1.0</version>
        </Im_Giftregistry>
    </modules>
    <frontend>
        <routers>
            <im_giftregistry>
                <use>standard</use>
                <args>
                    <module>Im_Giftregistry</module>
                    <frontName>giftreg</frontName>
                </args>
            </im_giftregistry>
        </routers>
        <layout>
            <updates>
                <giftregistry>
                    <file>im_giftregistry.xml</file>
                </giftregistry>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <im_giftregistry>
                <class>Im_Giftregistry_Model</class>
                <resourceModel>giftregistry_resource</resourceModel>
            </im_giftregistry>
            <giftregistry_resource>
                <class>Im_Giftregistry_Model_Resource</class>
                <entities>
                    <type>
                        <table>giftreg_type</table>
                    </type>
                    <item>
                        <table>giftreg_item</table>
                    </item>
                    <entity>
                        <table>giftreg_entity</table>
                    </entity>
                </entities>
            </giftregistry_resource>
        </models>
        <blocks>
            <im_giftregistry>
                <class>Im_Giftregistry_Block</class>
            </im_giftregistry>
        </blocks>
        <helpers>
            <im_giftregistry>
                <class>Im_Giftregistry_Helper</class>
            </im_giftregistry>
        </helpers>
        <resources>
            <im_giftregistry_setup>
                <setup>
                    <module>Im_Giftregistry</module>
                    <class>Im_Giftregistry_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </im_giftregistry_setup>
            <im_giftregistry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </im_giftregistry_write>
            <im_giftregistry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </im_giftregistry_read>
        </resources>
    </global>
</config>